<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% csrf_token %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.validate.ru.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lol.js"></script>
    <title>ЛУЛЗДЖОБ</title>
  </head>
  <body>
    <div class="bg hidden"></div>
    <div id="full" class="popup hidden">
      <div class="close">x</div>
      <div class="desc"></div>
      <div class="commentaries" style="text-align: left;">
        <h3>Комментарии</h3>
        <ul class="comments"></ul>
        <div class="addcomment">
          <form action="/ajax/addcomment/" method="post" id="addcomment">
            <fieldset>
              {% csrf_token %}
              <p>
                {{ addcomment }}
                <br/>
                <input name="submit" class="button sendcomment" type="submit"/>
              </p>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <div class="popup add hidden" style="text-align: left;">
      <div class="close">x</div>
      <h3>Добавить вакансию</h3>
      <div class="error true hidden">Вакансия добавлена на рассмотрение</div>
      <div class="error false hidden">ЧТО ТО ПОШЛО НЕ ТАК! ЭВОКУИРУЕМСЯ!</div>
      <form action="/ajax/addvacancy/" method="post" id="addvacancy">
        <fieldset>
          {% csrf_token %}
          <p>
            {{ addjob }}
            <br/><br/>
            <input name="submit" class="button addvacancy" type="submit"/>
          </p>
        </fieldset>
      </form>
    </div>
    <div id="wrap">
      <div id="top-bg"></div>
      <div id="header">
        <h1 id="logo-text"><a href="{{ BASE_URL }}" title="ЛУЛЗДЖОБ">ЛУЛЗ<span>ДЖОБ</span></a></h1>
        <h2 id="slogan" title="Наркоманы штоле?">Самые ёбнутые вакансии рунета</h2>
        <button id="add">Добавить</button>
      </div>
      <div id="nav">
        <ul>
          <li id="current"><a id="900009" href="#all" title="Все">Все</a></li>{% for category in categories %}
          <li><a id="{{ category.id }}" href="#{{ category.name }}" title="{{ category.name }}">{{ category.name }}</a></li>{% endfor %}
        </ul>
      </div>
      <div id="content-wrap">
        <div id="sidebar">
          <img src="{{ STATIC_URL }}images/1306311362719.png" alt="WTF">
        </div>
        <div id="main">
        {% if jobs %}
          {% for job in jobs %}
            <article>
            {% if forloop.counter0 > 9 %}
            <div class="cat_{{ job.category.id }} hidden {{ forloop.counter0 }}">
            {% else %}
            <div class="cat_{{ job.category.id }} {{ forloop.counter0 }}">
            {% endif %}
              <h1>{{ job.name }}</h1>
              <p>{{ job.desc }}</p>
              <p class="post-footer">
                <a href="#full" class="readmore" id="{{ job.id }}">Полностью</a> |
                Комментарии ({{ job.jobcomm.count }}) |
                <span class="date">{{ job.date|date:"j:m:Y" }}</span> |
                <span class="date likes">Рейтинг: {{ job.likes }}</span>
              </p>
            </div>
            </article>
          {% endfor %}
          {% if count > 10 %}
            <p class="post-footer morebut" style="float: right;"><a href="#more" class="more">Больше</a></p>
          {% endif %}
        {% else %}
          <h1>ПРИШЛО ВРЕМЯ ДОБАВИТЬ ВАКАНСИЙ</h1>
        {% endif %}
        </div>
      </div>
      <div id="footer-wrap">
        <div id="footer-bottom">
          <p>&copy; 2011 <strong>ЛУЛЗДЖОБ</strong></p>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>